/* Font weight */
strong { 
	font-weight: 600; 
}
.f-600 {
	font-weight: 600;
}
.f-400 {
	font-weight: 400;
}
/*Tamaño de letra*/
.f-s-60px{
	font-size: 60px;
}
.f-s-19px{
	font-size: 19px;
}
.f-s-23px{
	font-size: 23px;
}
.f-s-30px{
	font-size: 30px;
}
.f-s-40px, .f-40px{
	font-size: 40px;
}
/* Paddings */
.pd-0{
	padding: 0;
}
.pd-3 {
	padding: 3%;
}
.pd-5 {
	padding: 5%;
}
.pd-8{
	padding: 8%;
}
.pd-10 {
	padding: 10%;
}

.pt-0 {
	padding-top: 0%;
}
.pt-3{
	padding-top: 3%;
}
.pt-5{
	padding-top: 5%;
}
.pt-8{
	padding-top: 8%;
}
.pt-10{
	padding-top: 10%;
}
.pb-3{
	padding-bottom: 3%
}
.pb-5{
	padding-bottom: 5%;
}
.pb-8{
	padding-bottom: 8%;
}
.pl-3{
	padding-left: 3%;
}
.pl-5{
	padding-left: 5%;
}
.pl-8{
	padding-left: 8%;
}
.pl-10{
	padding-left: 10%;
}
.pl-20{
	padding-left: 20%;
}
.pr-3{
	padding-right: 3%;
}
.pr-5{
	padding-right: 5%;
}
.pr-8{
	padding-right: 8%;
}
.pr-10{
	padding-right: 10%;
}
.pr-20{
	padding-right: 20%;
}
.mg-0{
	margin: 0;
}
.w-100{
	width: 100%;
}
.lh{
	line-height: 1.5;
}
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}

.text-white{
	color: white;
}
.text-black{
	color: black;
}
.text-gray{
	color: #888;
}
.text-darkgray{
	color:#232C36;
}

.text-green{
 	color: #0dc0c0;
}

.active {
	color: #0dc0c0;
}

.a-none-decoration{
	text-decoration: none;
}
.bg-gray{
	background-color: rgb(244, 244, 244);
}
.bg-white{
	background-color: white;
}
.skyblue-bg{
	background: #04B4AE;
}
.bg-img-block {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}
.btn_1{
	background: #232C36;
    border: 1px solid #1A202C;
}
.btn_2{
	background: rgba(255,255,255,0.1);
    border: 1px solid #6E6E6E;
}
.dark-bg{
	background: #232C36;
}
.text-justify {
  text-align: justify;
}